.list-card-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 860px;
    position: relative;
    /* Position relative for bookmark */
}

.img-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    position: relative;
    /* Position relative for bookmark */
}

.img-container img {
    width: 100%;
    max-height: 150px;
    border-radius: 4px;
    transition: transform 0.6s ease-in-out;
}

.img-container:hover img {
    transform: scale(1.1);
}

.bookmark-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    display: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.img-container:hover .bookmark-icon {
    display: block;
    animation-name: moveBookmark;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.bookmark-icon:hover {
    background-color: green;
    color: white;
    transition: color 0.4s;
}

@keyframes moveBookmark {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
        /* Sola hareket */
    }

    100% {
        transform: translateX(0);
    }
}

.doctor-info {
    flex: 2;
    padding-right: 20px;
}

.name-container {
    display: flex;
    align-items: center;
}

.clinic-images img {
    max-width: 30px;
    height: auto;
    border-radius: 0.3rem;
    margin-right: 5px;
}

.services {
    margin-top: 5px;
}

.service-box {
    border: 1px solid #cccccc;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 4px;
    margin-right: 5px;
    /* Kutucuklar arasında boşluk oluşturmak için */
    margin-top: 5px;
    /* Kutucuklar arasında dikey boşluk oluşturmak için */
}

.doctor-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 180px;
    min-width: 150px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    width: 100%;
}

:host ::ng-deep .p-button {
    width: 180px;
    display: block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 4px;
}


@media (max-width: 1600px) {
    .list-card-container {
        width: 680px;
    }


    .button-container {
        margin-top: 1rem;
    }

    :host ::ng-deep .p-button {
        width: 170px;
        padding: 8px 10px;
    }

}

@media (max-width: 1060px) {
    .list-card-container {
        width: 600px;
    }

    .button-container {
        margin-top: 3rem;
    }
}

@media (max-width: 720px) {
    .list-card-container {
        display: flex;
        min-width: 480px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .img-container img{
        max-height: 120px;
    }

    .img-container,
    .doctor-info,
    .doctor-details {
        width: 100%;
        text-align: center;
    }

    .img-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .name-container{
        display: block;
    }

    .rating{
        display: block !important;
    }

    .doctor-details {
        align-items: center;
        margin-top: 20px;
        max-width: none;
    }

    .button-container {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    :host ::ng-deep .p-button {
        width: 400px;
    }

    .button-container {
        margin-top: 1rem;
    }
}

@media (max-width: 590px){
    .list-card-container {
        min-width: 400px;

    }

    :host ::ng-deep .p-button {
        width: 350px;
    }
}