.list-card-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    position: relative;
    /* Position relative for bookmark */
}

.img-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    position: relative;
    /* Heart ikonunu img-container içinde konumlandırmak için relative */
}

.img-container img {
    width: 100%;
    max-height: 150px;
    border-radius: 4px;
}

.heart-icon {
    position: absolute;
    /* Konumu img-container içinde sabitlemek için absolute */
    top: 10px;
    /* Üstten 10px boşluk */
    right: 10px;
    /* Sağdan 10px boşluk */
    color: black;
    background-color: white;
    border-radius: 50%;
    /* Yuvarlak köşe */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.heart-icon:hover {
    color: red;
    transition: color 0.4s;
}

.name-container {
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.name-container i {
    color: green;
    margin-left: 5px;
}

.name-container a:hover {
    color: #007bff;
}

.rating-container {
    display: flex;
    align-items: center;
}

.rating-box {
    display: flex;
    align-items: center;
    background-color: #f0a500;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 8px;
}

.rating-box i {
    margin-right: 4px;
}

.feedback-text {
    color: #555;
    font-size: 14px;
}

.available-container {
    display: flex;
    align-items: center;
}

.available-today {
    background-color: #d4edda;
    /* Yeşil arka plan (Bugün) */
    color: #155724;
    /* Koyu yeşil yazı rengi */
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 8px;
    font-weight: bold;
}

.available-tomorrow {
    background-color: #e6be5b;
    /* Turuncu arka plan (Yarın) */
    color: #8a6d3b;
    /* Koyu turuncu yazı rengi */
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 8px;
    font-weight: bold;
}

.available-other {
    background-color: #f8d7da;
    /* Kırmızı arka plan (Diğer günler) */
    color: #721c24;
    /* Koyu kırmızı yazı rengi */
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 8px;
    font-weight: bold;
}


.doctor-info {
    flex: 2;
    padding-right: 20px;
}

.name-container {
    display: flex;
    align-items: center;
}

.clinic-images img {
    max-width: 30px;
    height: auto;
    border-radius: 0.3rem;
    margin-right: 5px;
}

.services {
    border: 1px solid #cccccc;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 4px;
    margin-top: 5px;
}

.doctor-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 180px;
    min-width: 150px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    width: 100%;
}

:host {
    ::ng-deep .p-button {
        width: 180px;
        display: block;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        padding: 10px 15px;
        border-radius: 4px;
    }
}

@media (max-width: 1600px) {
    .list-card-container {
        width: 680px;
    }

    .button-container {
        margin-top: 1rem;
    }

    :host ::ng-deep .p-button {
        width: 170px;
        padding: 8px 10px;
    }

}

@media (max-width: 1060px) {
    .list-card-container {
        width: 600px;
    }

    .button-container {
        margin-top: 3rem;
    }
}

@media (max-width: 720px) {
    .list-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
        width: 480px;
    }

    .heart-icon {
        right: 50px;
    }

    .name-container {
        display: block;
    }

    .rating-container {
        justify-content: center;
    }

    .doctor-details {
        text-align: justify;
    }

    .img-container,
    .doctor-info,
    .doctor-details {
        width: 100%;
        text-align: center;
    }

    .img-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .doctor-details {
        align-items: center;
        margin-top: 20px;
        max-width: none;
    }

    .button-container {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    :host ::ng-deep .p-button {
        width: 300px;
    }
}

@media (max-width: 590px) {
    .list-card-container{
        width: 400px;
    }

    .heart-icon {
        right: 80px;
    }
}