.card-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
    align-items: center;
    max-width: 1100px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    height: auto;
    width: 200px;
    border-radius: 4px;
    transition: transform 0.6s ease-in-out;
}


.doctor-info {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-container {
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.name-container i {
    color: green;
    margin-left: 5px;
}

.field-tag {
    display: inline-flex;
    align-items: center;
    padding: 2px 4px;
    margin-left: 4px;
    background-color: #f2f8ff; /* Arka plan rengi */
    border: 1px solid #ccc; /* Sınır rengi */
    border-radius: 5px; /* Yuvarlak köşeler */
    font-size: 14px;
    color: #555; /* Yazı rengi */
    font-weight: 500; /* Yazı kalınlığı */
}

.field-icon {
    color: #673ab7; /* İkonun rengi (Mor tonları) */
    font-size: 12px;
    margin-right: 5px;
}


.doctor-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.doctor-connections {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Üst ve alt arasında boşluk bırak */
    height: 100%; /* Tüm kartın yüksekliğini kapla */
}

.icon-container {
    align-self: flex-end; /* İconları üste yerleştir */
    display: flex;
    gap: 5px;
}

.accepting-patients, 
.consultation-buttons {
    align-self: flex-end; /* Diğer kısımları alta yerleştir */
}

.icon-button {
    background-color: #f2f8ff;
    border: 2px solid #d3dce6;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon-button i {
    font-size: 15px;
    color: #424e5a;
}

.icon-button:hover {
    background-color: #d3dce6;
}

.accepting-patients {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}


.consultation-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.consultation-button {
    background-color: #f2f8ff;
    border: 2px solid #d3dce6;
    border-radius: 7px;
    padding: 4px 6px;
    width: 160px;
    align-items: center; /* Dikeyde ortalama */
    justify-content: center; /* Yatayda ortalama */
    text-align: center; /* Yazıyı ortala */
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #424e5a;
}

.consultation-button i {
    font-size: 15px;
    /* İkon boyutu */
    color: #424e5a;
    /* İkon rengi */
}

.consultation-button:hover {
    background-color: #d3dce6;
    /* Hover durumunda arkaplan rengi */
}

.card-footer {
    grid-column: 1 / -1;
    /* Footer'ın tüm sütunları kaplamasını sağlar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-top: 1px solid #ddd;
}


.footer-left {
    display: flex;
    gap: 20px;
}

.footer-item i {
    background-color: #1379ec;
    /* Lacivert arka plan */
    border-radius: 50%;
    /* Yuvarlak şekil */
    padding: 8px;
    /* İçerik boşluğu */
    color: #fff;
    /* İkon rengi beyaz */
    font-size: 16px;
    font-weight: 500;
}

.footer-item:nth-child(2) i {
    background-color: #4850c0;
    /* Mor-lacivert arası arka plan */
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.price-info {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    /* Genel font boyutunu ayarlayın */
    color: #555;
    /* Yazı rengi */
}

.price-info span {
    margin-left: 5px; /* Randevu ücreti ve değerler arasında boşluk bırakır */
    white-space: nowrap; /* Satırın kesilmesini engeller, tüm metni aynı satırda tutar */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

:host {
    ::ng-deep .p-button {
        width: 170px;
        display: block;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
        padding: 10px;
        border-radius: 4px;
    }
}


@keyframes moveBookmark {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
        /* Sola hareket */
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 1200px) {
    .img-container img {
        max-width: 200px;
        /* Orta ekranlar için boyut düzenlemesi */
    }
}

@media (max-width: 480px) {
    .card-container {
        flex-direction: column;
        align-items: center !important;
        min-width: 350px;
    }

    .img-container {
        margin-right: 0;
        /* Küçük ekranlarda margin sıfırlamak için eklendi */
        margin-bottom: 10px;
        /* Küçük ekranlarda aralık eklemek için eklendi */
    }

    .img-container img {
        max-width: 200px;
        /* Küçük ekranlar için boyut düzenlemesi */
    }

    .doctor-info {
        margin-bottom: 10px;
        /* Küçük ekranlarda aralık eklemek için eklendi */
        align-self: center !important;
    }

    .doctor-details {
        max-width: 100%;
        /* Küçük ekranlarda tam genişlik için eklendi */
        align-items: center;
    }
}