<div class="app-container">
    <app-navbar></app-navbar>
    <div class="content-container">
        <app-menu></app-menu>

        <div class="page-container">
            <app-doctor-profile-card [doctor]="firstDoctor"></app-doctor-profile-card>

            <nav class="page-divider">
                <a href="#bio-section" (click)="scrollToSection($event, 'bio-section')">Biyografi</a>
                <a href="#experience-section" (click)="scrollToSection($event, 'experience-section')">Deneyimler</a>
                <a href="#services-section" (click)="scrollToSection($event, 'services-section')">Hizmetler</a>
                <a href="#availability-section" (click)="scrollToSection($event, 'availability-section')">Müsaitlik</a>
                <a href="#hospitals-clinics-section"
                    (click)="scrollToSection($event, 'hospitals-clinics-section')">Hastane & Klinik</a>
                <a href="#reviews-section" (click)="scrollToSection($event, 'reviews-section')">Yorumlar</a>
            </nav>
            <p-divider />

            <div class="page sections ">
                <section id="bio-section">
                    <h2>Biyografi</h2>
                    <p class="text-gray-600 text-sm" [class.collapsed]="isCollapsed">"{{ displayedBio }}"</p>
                    <button *ngIf="showReadMore" (click)="toggleReadMore()" class="read-more-button">
                        {{ isCollapsed ? 'Devamını oku' : 'Daha azını göster' }}
                    </button>
                </section>


                <p-divider />

                <section id="experience-section">
                    <h2>Deneyimler</h2>

                    <div
                        *ngIf="firstDoctor.practiceExperience && firstDoctor.practiceExperience.length > 0; else noExperience">
                        <div *ngFor="let experience of firstDoctor.practiceExperience">
                            <div class="profile-card" *ngFor="let i of experience.img; let index = index">
                                <div class="flex mb-1">
                                    <img [src]="'../../../../assets/images/doctors/' + experience.img[index]"
                                        alt="Hospital Logo" class="profile-card-logo">
                                    <div class="profile-card-info text-sm">
                                        <h4 class="text-m font-semibold">{{ experience.hospital[index] }}</h4>
                                        <p class="font-medium text-xs">{{ firstDoctor.field }} &bull; {{
                                            firstDoctor.location }}</p>
                                        <p class="font-light text-xs mt-3">{{ experience.timePeriod[index] }} &bull; {{
                                            experience.total[index] }}</p>
                                        <p class="font-light text-sm">{{ experience.experiencedIn[index] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #noExperience>
                        <p>Doktorun henüz bir deneyimi bulunmamaktadır.</p>
                    </ng-template>
                </section>


                <p-divider />

                <section id="services-section">
                    <h2>Hizmetler</h2>
                    <div class="flex flex-wrap gap-2 text-m">
                        <div class="service-box" *ngFor="let service of firstDoctor.services">
                            {{ service }}
                        </div>
                    </div>
                </section>


                <p-divider />

                <section id="availability-section">
                    <div class="section-header">
                        <h2>Müsaitlik</h2>
                        <div class="button-container ">
                            <p-button icon="pi pi-chevron-left" (click)="scrollLeft()" severity="secondary" text="true"
                                class="mr-2 scroll-button"></p-button>
                            <p-button icon="pi pi-chevron-right" (click)="scrollRight()" text="true"
                                severity="secondary" class="scroll-button"></p-button>
                        </div>
                    </div>

                    <div class="availability-container gap-3 mt-2" #scrollContainer>
                        <div class="availability-box" *ngFor="let availability of [1, 2, 3, 4, 5, 6, 7]">
                            <div class="font-medium text-sm mb-2">
                                {{ firstDoctor.availability }}
                            </div>
                            <div class="font-light text-xs">
                                {{ firstDoctor.availableTime }}
                            </div>
                        </div>
                    </div>
                </section>


                <p-divider />

                <section id="hospitals-clinics-section">
                    <h2>Hastane & Klinik</h2>

                    <div class="profile-card" *ngFor="let image of firstDoctor.clinicImages; let index = index">
                        <div class="profile-card-content">
                            <div class="flex profile-card-inner">
                                <div class="profile-card-left">
                                    <img [src]="'../../../../assets/images/clinics/' + firstDoctor.clinicImages[index]"
                                        alt="Hospital Logo" class="profile-card-logo">

                                    <div class="profile-card-info text-sm">

                                        <h4 class="text-m font-semibold">{{ firstDoctor.hospital }}</h4>
                                        <p class="font-medium text-xs text-primary mb-5">{{ firstDoctor.minPrice |
                                            currency: 'USD':'symbol':'1.0-0'}} /Randevu</p>
                                        <p class="font-medium text-xs">
                                            <i class="pi pi-map-marker"></i> {{ firstDoctor.location }}
                                        </p>

                                        <div class="flex clinic-availability mt-2">
                                            <div class="availability-container gap-3">
                                                <div class="availability-box" *ngFor="let availability of [1, 2]">
                                                    <div class="font-medium text-sm mb-1">{{ firstDoctor.availability }}
                                                    </div>
                                                    <div class="font-light text-xs">{{ firstDoctor.availableTime }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>

                                <div class="profile-card-right">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d754.5998965713842!2d-73.9407165!3d40.84115!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f69c695fcef9%3A0xf82f63a3e9c48061!2sColumbia%20University%20Irving%20Medical%20Center!5e0!3m2!1str!2str!4v1724622110243!5m2!1str!2str"
                                        width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>


                <p-divider />

                <section id="reviews-section">
                    <h2>Yorumlar <span>({{ firstDoctorFeedback.length }})</span></h2>

                    <div class="reviews-container">
                        <div class="review-card" *ngFor="let review of displayedFeedback">
                            <div class="review-header">
                                <img [src]="'../../../../assets/images/patients/' + review.image"
                                    alt="{{ review.name }}" class="review-image">
                                <div class="review-info">
                                    <h3 class="text-sm font-medium">{{ review.name }}</h3>
                                    <div class="rating-container">
                                        <span class="star" *ngFor="let star of [1,2,3,4,5]; let i = index">
                                            <i class="pr-1 pi"
                                                [ngClass]="{ 'pi-star-fill': i < review.rating, 'pi-star': i >= review.rating }"></i>
                                        </span>
                                        <span class="font-light text-gray-600 text-m">{{ review.rating }}.0</span>
                                    </div>
                                    <p class="font-light text-gray-600 text-xs">{{ review.commentDate }}</p>
                                </div>
                                <div class="recommendation text-sm">
                                    <i *ngIf="review.isRecommend" class="pi pi-thumbs-up text-green-500"></i>
                                    <span *ngIf="review.isRecommend" class="recommend-text text-green-500">Evet, randevu
                                        için öneriyorum.</span>
                                    <i *ngIf="!review.isRecommend" class="pi pi-thumbs-down text-red-500"></i>
                                    <span *ngIf="!review.isRecommend" class="recommend-text text-red-500">Hayır, randevu
                                        için önermiyorum.</span>
                                </div>
                            </div>
                            <div class="review-body">
                                <p class="text-xs text-gray-600">{{ review.comment }}</p>
                            </div>
                            <div class="mt-1 text-xs">
                                <button class="reply-button"><i class="pi pi-reply"></i> Yanıtla</button>
                            </div>
                        </div>
                    </div>

                    <p-paginator [rows]="pageSize" [totalRecords]="firstDoctorFeedback.length"
                        (onPageChange)="onPageChange($event)">
                    </p-paginator>
                </section>


            </div>

        </div>
    </div>
</div>