.container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.7rem;
    width: 360px;
    border: 0.4px solid rgb(230, 230, 230);
    border-radius: 0.5rem;
}

.container img {
    height: max-content;
    max-width: 80px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.6s ease;
    margin-right: 15px;
}

.info {
    flex: 1;
}

.title{
    display: flex;
    align-items: center;
}


.card-left {
    display: flex;
    align-items: center; /* i ve a etiketlerini dikeyde ortalar */
    justify-content: center;
}

:host ::ng-deep .p-divider{
    margin-top: 0.4rem;
}

:host ::ng-deep .p-button{
    padding: 0.5rem;
    font-size: 13px;
}

:host ::ng-deep .p-button .p-button-label {
    font-weight: 500;
}

@media (max-width: 1200px){
    .container {
        width: 640px;
        margin-right: 2rem;
    }
}

@media (max-width: 725px){
    .container {
        width: 550px;
    }
}

@media (max-width: 595px){
    .container {
        width: 500px;
    }
}