:host ::ng-deep .p-card {
    width: 260px;
    margin: auto;
}

.filter-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-header {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 0.5rem;
    padding-left: 0.8rem;
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    width: 100%;
}

.filter-group .card {
    width: 100%;
    padding: 10px;
}

.filter-group .flex {
    width: 100%;
}

.filter-group .justify-content-between {
    margin-bottom: 5px;
}

.filter-group .w-full {
    width: 100%;
}

.filter-group .text-center {
    width: 100%;
    font-size: 14px;
}

.price-slider{
    width: 14rem;
}

:host ::ng-deep .p-button {
        width: 180px;
        display: block;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        padding: 10px 15px;
        border-radius: 4px;
    }

:host ::ng-deep .p-checkbox-label {
    margin-left: 8px;
}


:host ::ng-deep .p-container {
    margin-top: 10px;
}

:host ::ng-deep .p-card .p-card-body {
    padding: 0.5rem !important;
}

:host ::ng-deep .p-card .p-card-content {
    padding: 0.5rem 0;
}

:host ::ng-deep .p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: #e6be5b;
}

:host ::ng-deep .p-rating .p-rating-item .p-rating-icon {
    color: #dddddd;
}

@media (max-width: 992px) {
    :host ::ng-deep .p-card {
        margin-left: 0.6rem;
        width: 600px;
    }

    :host ::ng-deep .p-button {
        width: 540px;
    }

    :host::ng-deep .p-inputtext {
        width: 540px;
    }

    .price-slider{
        width: 540px;
    }
}

@media (max-width: 720px) {
    :host ::ng-deep .p-card {
        margin-left: 0.6rem;
        width: 480px;
    }

    :host ::ng-deep .p-button {
        width: 400px;
    }

    .price-slider{
        width: 400px;
    }
}

@media (max-width: 590px) {
    :host ::ng-deep .p-card {
        margin-left: 0.6rem;
        width: 400px;
    }

    :host ::ng-deep .p-button {
        width: 350px;
    }

    .price-slider{
        width: 350px;
    }
}