.list-card-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

.img-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.img-container img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.doctor-info {
    flex: 2;
    padding-right: 20px;
}

.name-container {
    display: flex;
    align-items: center;
}

.clinic-images img {
    max-width: 30px;
    height: auto;
    border-radius: 0.3rem;
    margin-right: 5px;
}

.services {
    border: 1px solid #cccccc;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 4px;
    margin-top: 5px;
}

.doctor-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 180px;
    min-width: 150px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 5px;
    margin-top: 10px;
    width: 100%;
}

:host {
    ::ng-deep .p-button {
        width: 180px;
        display: block;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        padding: 10px 15px;
        border-radius: 4px;
    }
}

@media (max-width: 1200px) {
    .img-container img {
        max-width: 200px; /* Orta ekranlar için boyut düzenlemesi */
    }
}

@media (max-width: 480px) {
    .list-card-container {
        flex-direction: column; /* Küçük ekranlarda alt alta sıralanması için eklendi */
        align-items: center !important;
        min-width: 350px;
    }

    .img-container {
        margin-right: 0; /* Küçük ekranlarda margin sıfırlamak için eklendi */
        margin-bottom: 10px; /* Küçük ekranlarda aralık eklemek için eklendi */
    }

    .img-container img {
        max-width: 200px; /* Küçük ekranlar için boyut düzenlemesi */
    }

    .doctor-info {
        margin-bottom: 10px; /* Küçük ekranlarda aralık eklemek için eklendi */
        align-self: center !important;
    }

    .doctor-details {
        max-width: 100%; /* Küçük ekranlarda tam genişlik için eklendi */
        align-items: center;
    }

   
}