.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Taşmayı engellemek için eklendi */
}

.content-container {
  display: flex;
  flex: 1;
  overflow: hidden; /* Taşmayı engellemek için eklendi */
}

.container {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden; /* Taşmayı engellemek için eklendi */
}

.left-side {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
  overflow-y: auto; /* Taşmayı engellemek için eklendi */
}

.right-side {
  flex: 1.5;
  background-color: #e0e0e0;
  height: 100%;
  padding: 10px;
  margin-top: 0.2rem;
  box-sizing: border-box;
  transition: flex 0.3s ease;
  overflow-y: auto; /* Taşmayı engellemek için eklendi */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.dropdown-container {
  display: flex;
  align-items: center;
}

.doctors-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
}

.doctors-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.doctor-card {
  margin-bottom: 20px;
}

.icon-button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.icon-button i {
  font-size: 1.2em;
}

.icon-button.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 0.35rem;
}

.icon-button:hover {
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 0.35rem;
  color: #007bff;
  transition: border-color 0.4s, color 0.4s;
}

.icon-button.active:hover {
  color: #fff;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px 0;
}

.pagination-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination-container button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination-container span {
  font-size: 1.2em;
}

:host {
  ::ng-deep .p-dropdown .p-inputtext {
    font-size: 14px;
    padding: 0.55rem;
  }
}

/*responsive*/
@media (max-width: 1200px) {
  .right-side {
    flex: 1;
  }
  
  .left-side {
    flex: 3;
  }
}

@media (max-width: 992px) {
  .right-side {
    flex: 0.8;
  }

  .left-side {
    flex: 3.2;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .right-side {
    flex: 1;
    justify-self: center;
    min-width: 500px;
    min-height: 450px;
    order: -1;
    margin: 20px 10px;
  }

  .left-side {
    flex: 1;
    max-width: 100%;
    margin-right: 0;
  }

  .header-container {
    font-size: small;
    flex-direction: column;
    align-items: flex-end !important;
  }
  
  .doctors-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  :host {
    ::ng-deep .p-dropdown .p-inputtext {
      font-size: 12px;
      padding: 0.45rem;
    }
  }
}

@media (max-width: 480px) {
  .doctors-grid {
    grid-template-columns: 1fr;
  }
}
