<div class="container">
  <div class="doctors-container">

    <div *ngFor="let doctor of doctors" class="doctor-card">
      <p-card header="Simple Card">
        <img [src]="'../../../../assets/images/doctors/' + doctor.image" [alt]="doctor.name" width="80"
            class="rounded-img shadow-4 " />

        <div class="doctor-info">
          <h5 class="">{{ doctor.name }}</h5>
          <p>{{ doctor.field }}</p>
          <p>{{ doctor.location }}</p>
          <p>{{ doctor.availability }}</p>
          <p>{{ doctor.languages }}</p>
          <p>{{ doctor.price }}</p>
          <p>{{ doctor.rating }}</p>
          <p>{{ doctor.feedback }}</p>
          <p>{{ doctor.recommended }}%</p>
        </div>

        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
            <p-button label="Save" class="w-full" styleClass="w-full" />
          </div>
        </ng-template>
      </p-card>


    </div>
  </div>
  <div class="map-container">
    <!-- This area is reserved for the map -->
  </div>
</div>