
<div class="card flex justify-content-center" style="border-bottom: 1px solid #ddd; position: relative;" >
    <p-card [style]="{ width: '480px', backgroundColor: '#0E82FD', color: 'white', position: 'relative'}">

        <img src="../../../../assets/images/dashboard-circle-bg.png" alt="dashboard-circle-bg.png"
            class="background-img">

        <ng-template pTemplate="body" >
            <div style="position: relative; z-index: 1;">
                <h4 class="ml-2 my-0">Yaklaşan Görüşme !</h4>
            </div>

            <div class="patient-info flex items-center" style=" position: relative; z-index: 1;">
                <img [src]="'../../../../assets/images/' + patient.image" class="patient-img"/>
                <div>
                    <p>{{ patient.appointmentId }}</p>
                    <p style="margin: 0;">{{ patient.name }}</p>
                </div>
                <div style="margin-left: auto; text-align: right;">
                    <p>{{ patient.visitType }}</p>
                    <p style="margin: 0;">{{ patient.appointmentDate }}, {{ patient.appointmentTime }}</p>
                </div>
            </div>
            
        </ng-template>

        <ng-template pTemplate="footer" >
            <hr>
            <div class="flex justify-content-between items-center" style="position: relative; z-index: 1;" >
                <div class="flex items-center mt-2">
                    <i class="pi pi-video mr-2"></i>
                    <p class="flex m-0 text-sm">Video Görüşmesi</p>
                </div>
                <div class="flex gap-2">
                    <button label="Chat Now" class="text-color-surface-800 border-none border-round">Mesaj At</button>
                    <button label="Start Appointment" class="text-color-surface-800 border-none border-round">Randevuyu
                        Başlat</button>
                </div>
            </div>
        </ng-template>

        
    </p-card>
</div>