.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.content-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.page-container {
    margin-top: var(--navbar-height);
    flex: 1;
    overflow: auto;
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-icon-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-icon {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    text-align: center;
}

p-card .p-card-footer {
    display: flex;
    justify-content: center;
}

:host ::ng-deep .p-card .p-card-title {
    text-align: center;
}


@media (max-width: 950px) {
    :host ::ng-deep .p-card-title {
        font-size: 20px;
    }

    :host ::ng-deep .p-card .p-card-content {
        padding: 1rem 0;
    }
}

@media (max-width: 768px) {

    :host ::ng-deep .p-card-title {
        font-size: 18px;
    }

    :host ::ng-deep .p-card .p-card-content {
        padding: 0.8rem 0;
    }

    :host ::ng-deep .p-button {
        padding: 0.7rem ;
    }

}