<div class="app-container">
    <app-navbar></app-navbar>
    <div class="content-wrapper">

        <app-menu></app-menu>

        <div class="page-container">

            <div class="change-password-container">
                <h3 class="font-semibold text-lg">Şifre Değiştir</h3>
                <p-divider></p-divider>

                <div class="flex flex-column gap-2 text-sm">
                    <div class="flex flex-column gap-2">
                        <label for="oldPassword">Eski Şifre <span class="text-red-500 font-semibold">*</span></label>
                        <input type="password" pInputText id="oldPassword" aria-describedby="oldPassword-help"
                            [(ngModel)]="oldPassword" />

                    </div>

                    <div class="flex flex-column gap-2 my-2">
                        <label for="newPassword">Yeni Şifre <span class="text-red-500 font-semibold">*</span></label>
                        <div class="password-field">
                          <input 
                            [type]="showNewPassword ? 'text' : 'password'" 
                            pInputText 
                            id="newPassword" 
                            aria-describedby="newPassword-help" 
                            [(ngModel)]="newPassword" 
                          />
                          <i 
                            class="pi" 
                            [ngClass]="showNewPassword ? 'pi-eye-slash' : 'pi-eye'" 
                            (click)="togglePasswordVisibility('newPassword')">
                          </i>
                        </div>
                      </div>
                      
                      <div class="flex flex-column gap-2">
                        <label for="confirmPassword">Yeni Şifreyi Doğrulayın <span class="text-red-500 font-semibold">*</span></label>
                        <div class="password-field">
                          <input 
                            [type]="showConfirmPassword ? 'text' : 'password'" 
                            pInputText 
                            id="confirmPassword" 
                            aria-describedby="confirmPassword-help" 
                            [(ngModel)]="confirmPassword" 
                          />
                          <i 
                            class="pi" 
                            [ngClass]="showConfirmPassword ? 'pi-eye-slash' : 'pi-eye'" 
                            (click)="togglePasswordVisibility('confirmPassword')">
                          </i>
                        </div>
                      </div>

                    <div class="button-group mt-2">
                        <p-button label="İptal" class="p-button-secondary" (click)="onCancel()" outlined="true"></p-button>
                        <p-button label="Şifreyi Değiştir" class="p-button-primary" 
                            (click)="onSaveChanges()"></p-button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>