.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.page-container {
  margin-top: var(--navbar-height);
  padding-top: 100px;
  flex: 1;
  overflow: auto;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
}


.change-password-container {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .password-field {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .password-field input {
    width: 100%;
    padding-right: 30px;
  }
  
  .password-field i {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  

  :host {
    ::ng-deep .p-button {
        display: block;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
        padding: 10px 15px;
        border-radius: 4px;
    }
}
