<div class="grid-card-container">
  <div class="img-container">
    <a>
      <img [src]="'../../../../assets/images/doctors/' + doctor.image" [alt]="doctor.name"
        class="rounded-img shadow-1" />
    </a>
  </div>

  <div class="doctor-info">

    <div class="name-container">
      <a class="text-m font-semibold mt-3">{{ doctor.name }}</a>
      <i class="fas fa-check-circle verified"></i>
    </div>

    <p class="font-light my-1 text-xs">{{ doctor.field }}</p>
    <div class="card flex">

      <p-rating [(ngModel)]="doctor.rating" [readonly]="true" [cancel]="false"></p-rating>
      <span class="font-light text-xs ml-1 mt-1">({{ doctor.feedback }})</span>
    </div>

    <p class="font-light my-3 text-xs">
      <i class="pi pi-map-marker"></i> Konum, {{ doctor.location }}
    </p>

    <p class="font-light my-3 text-xs">
      <i class="pi pi-clock"></i> Müsaitlik, {{ doctor.availability }}
    </p>

    <p class="font-light my-3 text-xs">
      <i class="pi pi-money-bill"></i> Ücret, ${{ doctor.minPrice }} - ${{ doctor.maxPrice }}
    </p>

  </div>
  <div class="flex gap-1">
    <p-button label="Profile Git" [outlined]="true"></p-button>
    <p-button label="Randevu Al"></p-button>
  </div>
</div>