<div class="app-container">
    <app-navbar></app-navbar>
    <div class="content-wrapper">

        <app-menu></app-menu>

        <div class="page-container">

            <div class="invoice-card">
                <div class="invoice-info grid ">

                    <div class="img-container col-6">
                        <p-image src="../../../../../assets/images/ss_logo.png" alt="Image" width="120" />
                    </div>

                    <div class="col-6 card-right">
                        <p class="font-light   text-xs">
                            <span class="font-medium">Randevu id: </span> {{firstPatient.appointmentId}}
                        </p>

                        <p class="font-light  mt-0 text-xs">
                            <span class="font-medium">Randevu tarihi: </span> {{firstPatient.appointmentDate}}
                        </p>
                    </div>

                    <div class="invoiceFrom col-6">
                        <h4 class="font-medium text-m mb-0">Fatura Gönderen</h4>

                        <p class="font-light text-xs">{{firstDoctor.name}}</p>
                        <p class="font-light  text-xs">{{firstDoctor.location}}</p>

                    </div>

                    <div class="invoiceTo col-6 card-right">
                        <h4 class="font-medium text-m mb-0">Fatura Alıcısı</h4>

                        <p class="font-light   text-xs">{{firstPatient.name}}</p>
                        <p class="font-light  mt-0 text-xs">{{firstPatient.location}}</p>

                    </div>

                    <div class="paymentMethod col-6 ">
                        <h4 class="font-medium text-m mb-0">Ödeme Yöntemi</h4>

                        <p class="font-light   text-xs">{{firstPatient.paymentMethod.type}}</p>
                        <p class="font-light   text-xs">XXXXXXXXXXXX-{{firstPatient.paymentMethod.lastDigits}}</p>
                        <p class="font-light   text-xs">{{firstPatient.paymentMethod.bank}}</p>

                    </div>

                    <div class="col-6"></div>
                </div>

                <table style="min-width: 30rem; table-layout: auto; white-space: nowrap; width: 500px;">
                    <thead>
                        <tr>
                            <th>Tanım</th>
                            <th>Miktar</th>
                            <th>KDV</th>
                            <th>Toplam</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let fee of fees">
                            <td style="padding: 0.7rem; font-size: 13px;">{{ fee.description }}</td>
                            <td style="padding: 0.7rem; font-size: 13px;">{{ fee.quantity }}</td>
                            <td style="padding: 0.7rem; font-size: 13px;">{{ fee.vat | currency: 'USD':'symbol':'1.0-0' }}</td>
                            <td style="padding: 0.7rem; font-size: 13px;">{{ fee.total | currency: 'USD':'symbol':'1.0-0'}}</td>
                        </tr>

                    </tbody>
                </table>

                <table style="min-width: 50rem; table-layout: auto; white-space: nowrap; width: 500px; margin-top: 1rem;">
                    <tbody>
                      <tr>
                        <td style="padding: 0.7rem; font-size: 13px; text-align: right;">Ara toplam:</td>
                        <td style="padding: 0.7rem; font-size: 13px; text-align: right;">{{ subtotal | currency: 'USD':'symbol':'1.0-0' }}</td>
                      </tr>
                      <tr>
                        <td style="padding: 0.7rem; font-size: 13px;  text-align: right;">İndirim:</td>
                        <td style="padding: 0.7rem; font-size: 13px; text-align: right;"> -{{ discount | percent }}</td>
                      </tr>
                      <tr>
                        <td style="padding: 0.7rem; font-size: 13px;  text-align: right;">Toplam tutar:</td>
                        <td style="padding: 0.7rem; font-size: 13px; text-align: right;">{{ totalAmount| currency: 'USD':'symbol':'1.0-0' }}</td>
                      </tr>
                    </tbody>
                  </table>
                  

                <div class="other-information">
                    <h5 class="font-medium text-m mb-1">Diğer Bilgiler</h5>

                    <p class="font-light text-xs">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed dictum ligula, cursus
                        blandit risus. Maecenas eget metus non tellus dignissim aliquam ut a ex. Maecenas sed vehicula
                        dui, ac suscipit lacus. Sed finibus leo vitae lorem interdum, eu scelerisque tellus fermentum.
                        Curabitur sit amet lacinia lorem. Nullam finibus pellentesque libero.
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>