body {
    margin: 0;
    padding: 0;
}

.card {
    background-color: white;
    width: 17rem;
    margin: 0.7rem;
    padding: 1.5rem 0.7rem 1.5rem 0.7rem;
    border: 0.4px solid rgb(230, 230, 230);
    border-radius: 1rem;
}

.cards {
    display: flex;
    flex-direction: row;
}

.custom-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}

.card-avatar {
    margin-left: auto;
}


.card-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.card-avatar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-text h2 {
    font-size: 1rem;
    margin: 0;
    white-space: nowrap;

}

.card-text span,
i {
    font-size: 0.8rem;
}

@media (max-width: 1700px) {
    .card {
        width: 16rem;
    }
}

@media (max-width: 1600px) {
    .card {
        width: 15rem;
    }
}

@media (max-width: 1500px) {
    .card {
        margin: 0.7rem 0.4rem;
    }
}

@media (max-width: 1400px) {
    .card {
        width: 14rem;
    }

    :host ::ng-deep .p-avatar.p-avatar-xl {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
    }

    .card-text h2 {
        font-size: 0.9rem;
    }

    .card-text span,
    i {
        font-size: 0.7rem;
    }

    h3 {
        font-size: 1rem !important;
    }
}

@media (max-width: 1250px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 55rem;
    }

    :host ::ng-deep .p-avatar.p-avatar-xl {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
    }

    .card-text h2 {
        font-size: 1rem;
    }

    .card-text span,
    i {
        font-size: 0.8rem;
    }

    h3 {
        font-size: 1.2rem !important;
    }
}

@media (max-width: 1000px) {
    .card {
        width: 45rem;
    }
}


@media (max-width: 900px) {
    .card {
        width: 40rem;
    }
}

@media (max-width: 800px) {
    .card {
        width: 31rem;
    }
}