<div class="cards flex column">
    <div class="card flex">
      <div class="w-19rem custom-card">
        <div class="card-content">
          <div class="card-text mr-3">
            <h2 class="font-normal">Toplam Hasta</h2>
            <h3 class="my-2">978</h3>
            <span class="text-green-500 font-normal">
              <i class="pi pi-arrow-up"></i> Geçen haftadan 15% daha yüksek
            </span>
          </div>
          <div class="card-avatar">
            <p-avatar icon="pi pi-user" size="xlarge" [style]="{ 'background-color': '#F8FAFC', 'color': '#6B7280'}"></p-avatar>
          </div>
        </div>
      </div>
    </div>

    <div class="card flex">
        <div class="w-19rem custom-card">
          <div class="card-content">
            <div class="card-text mr-3">
              <h2 class="font-normal">Bugünkü Hastalar</h2>
              <h3 class="my-2">80</h3>
              <span class="text-red-500 font-normal">
                <i class="pi pi-arrow-down"></i> Geçen haftadan 15% daha az
              </span>
            </div>
            <div class="card-avatar">
              <p-avatar icon="pi pi-clock" size="xlarge" [style]="{ 'background-color': '#F8FAFC', 'color': '#6B7280'}" ></p-avatar>
            </div>
          </div>
        </div>
      </div>

      <div class="card flex">
        <div class="custom-card">
          <div class="card-content">
            <div class="card-text mr-3">
              <h2 class="font-normal">Randevular</h2>
              <h3 class="my-2">50</h3>
              <span class="text-green-500 font-normal">
                <i class="pi pi-arrow-up"></i> Geçen haftadan 20% daha yüksek
              </span>
            </div>
            <div class="card-avatar">
              <p-avatar icon="pi pi-calendar-clock" size="xlarge" [style]="{ 'background-color': '#F8FAFC', 'color': '#6B7280'}"></p-avatar>
            </div>
          </div>
        </div>
      </div>
  </div>
  