body {
    margin: 0;
    padding: 0;
}

.card{
    background-color: white;
    width: 17rem;
    margin: 0.7rem;
    padding: 1.5rem 0.7rem 1.5rem 0.7rem;
    border: 0.4px solid rgb(230, 230, 230);
    border-radius: 1rem;
}

.cards {
    display: flex;
    flex-direction: column;
}

.custom-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.card-avatar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-text h2 {
    font-size: 1rem;
    margin: 0;
}

.card-text span,
i {
    font-size: 0.8rem;
}