

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.user-name {
    font-size: 1rem;
    font-weight: 500;
}

.login-info{
    font-weight: 500;
}
