.profile-img-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    max-width: 1000px;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
}

.profile-img-logo {
    width: 90px;
    height: 85px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.profile-img-logo i {
    font-size: 24px;
    color: #666;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 3px;
}


.upload-button {
    margin-right: 10px;
}

:host ::ng-deep .p-button.p-fileupload-choose {
    padding: 0.5rem;
    font-size: 13px;
}

:host ::ng-deep .p-button .p-button-icon-left {
    margin-right: 0.2rem;
    font-size: small;
}

:host ::ng-deep .p-button.p-button-text {
    padding: 0.2rem;
    font-size: 13px;
}

:host ::ng-deep .p-button .p-button-label {
    font-weight: 500;
}

@media (max-width: 1200px){
    .profile-img-card {
        max-width: 900px !important;
        margin: 0 auto;
    }

}

@media (max-width: 950px){
    .profile-img-card {
        max-width: 800px !important;
        margin: 0 auto;
    }

    .profile-img-card h5{
        font-size: 16.7px !important;
    }

}

@media (max-width: 850px){
    .profile-img-card {
        max-width: 750px !important;
        margin: 0 auto;
    }

}

@media (max-width: 768px){
    .profile-img-card {
        max-width: 650px !important;
        margin: 0 auto;
    }

    .profile-img-card h5{
        font-size: 15px !important;
    }
}

@media (max-width: 660px){
    .profile-img-card {
        max-width: 550px !important;
        margin: 0 auto;
    }

}