<div class="app-container">
    <app-navbar></app-navbar>
    <div class="content-wrapper">

        <app-menu></app-menu>

        <div class="page-container">

            <div class="content-container">

                <div class="payment-info ">
                    <form [formGroup]="paymentInfoForm" (ngSubmit)="submitPaymentInfo()">
                        <p-card header="Ödeme Bilgileri" [style]="{ width: '100%', 'padding': '1rem' }">

                            <div class="grid grid-cols-2 gap-4">
                                <div class="field">
                                    <label for="firstName">İsim</label>
                                    <input type="text" pInputText formControlName="firstName" class="input-field"
                                        placeholder="İsim" (keypress)="validateText($event)" />
                                    <small
                                        *ngIf="firstName.hasError('required') && (firstName.dirty || firstName.touched)"
                                        class="block p-error">
                                        Bu alan zorunludur.
                                    </small>
                                </div>

                                <div class="field">
                                    <label for="lastName">Soyisim</label>
                                    <input type="text" pInputText formControlName="lastName" class="input-field"
                                        placeholder="Soyisim" (keypress)="validateText($event)" />
                                    <small *ngIf="lastName.hasError('required') && (lastName.dirty || lastName.touched)"
                                        class="block p-error">
                                        Bu alan zorunludur.
                                    </small>
                                </div>

                                <div class="field">
                                    <label for="phoneNumber">Telefon Numarası</label>
                                    <input type="text" pInputText formControlName="phoneNumber" class="input-field"
                                        placeholder="901234567890" (keypress)="validatePhoneNumber($event)" />
                                    <small
                                        *ngIf="phoneNumber.hasError('required') && (phoneNumber.dirty || phoneNumber.touched)"
                                        class="block p-error">
                                        Bu alan zorunludur.
                                    </small>
                                    <small
                                        *ngIf="phoneNumber.hasError('minlength') && !phoneNumber.hasError('required') && (phoneNumber.dirty || phoneNumber.touched)"
                                        class="block p-error">
                                        Telefon numarası en az 10 haneli olmalıdır.
                                    </small>
                                    <small
                                        *ngIf="phoneNumber.hasError('maxlength') && !phoneNumber.hasError('required') && (phoneNumber.dirty || phoneNumber.touched)"
                                        class="block p-error">
                                        Telefon numarası en fazla 12 haneli olabilir.
                                    </small>
                                </div>

                                <div class="field">
                                    <label for="emailAddress">Email Adresi</label>
                                    <input type="text" pInputText formControlName="emailAddress" class="input-field"
                                        placeholder="example@example.com" />
                                    <small
                                        *ngIf="emailAddress.hasError('required') && (emailAddress.dirty || emailAddress.touched)"
                                        class="block p-error">
                                        Bu alan zorunludur.
                                    </small>
                                    <small
                                        *ngIf="emailAddress.hasError('email') && !emailAddress.hasError('required') && (emailAddress.dirty || emailAddress.touched)"
                                        class="block p-error">
                                        Geçerli bir email adresi giriniz.
                                    </small>
                                </div>
                            </div>

                            <p-divider></p-divider>

                            <div class="payment-info mt-4">
                                <h4>Kredi Kartı Bilgileri</h4>

                                <p-radioButton name="payment-method" value="credit card" inputId="payment-method1"
                                    class=" ng-dirty" />
                                <label for="payment-method1" class="ml-1">
                                    Kredi Kartı
                                </label>

                                <div class="grid grid-cols-3 gap-4 mt-4">
                                    <div class="field">
                                        <label for="cardHolderName">Kart İsmi</label>
                                        <input type="text" pInputText formControlName="cardHolderName"
                                            class="input-field" placeholder="Kart İsmi"
                                            (keypress)="validateText($event)" />
                                        <small
                                            *ngIf="cardHolderName.hasError('required') && (cardHolderName.dirty || cardHolderName.touched)"
                                            class="block p-error">
                                            Bu alan zorunludur.
                                        </small>
                                    </div>

                                    <div class="field">
                                        <label for="cardNumber">Kart Numarası</label>
                                        <input type="text" pInputText formControlName="cardNumber" class="input-field"
                                            placeholder="0000111122223333" (keypress)="validatePhoneNumber($event)" />
                                        <small
                                            *ngIf="cardNumber.hasError('required') && (cardNumber.dirty || cardNumber.touched)"
                                            class="block p-error">
                                            Bu alan zorunludur.
                                        </small>
                                    </div>

                                    <div class="field expireDate">
                                        <div class="month">
                                            <label for="expiryMonth" class=" mb-2">Ay</label>
                                            <p-dropdown formControlName="expiryMonth" [options]="months" placeholder="Ay"></p-dropdown>
                                            <small *ngIf="expiryMonth.hasError('required') && (expiryMonth.dirty || expiryMonth.touched)" class="block p-error">
                                                Bu alan zorunludur.
                                            </small>
                                        </div>
                                    
                                        <div class="year">
                                            <label for="expiryYear" class=" mb-2">Yıl</label>
                                            <p-dropdown formControlName="expiryYear" [options]="years" placeholder="Yıl"></p-dropdown>
                                            <small *ngIf="expiryYear.hasError('required') && (expiryYear.dirty || expiryYear.touched)" class="block p-error">
                                                Bu alan zorunludur.
                                            </small>
                                        </div>
                                    </div>
                                    
                                    <div class="field">
                                        <label for="cvv">CVV</label>
                                        <input type="text" pInputText formControlName="cvv" class="input-field"
                                            placeholder="111" (keypress)="validatePhoneNumber($event)" />
                                        <small *ngIf="cvv.hasError('required') && (cvv.dirty || cvv.touched)"
                                            class="block p-error">
                                            Bu alan zorunludur.
                                        </small>
                                    </div>
                                </div>

                                <div class="flex flex-column mt-2">
                                    <div class="field flex align-items-center">
                                        <p-radioButton name="payment-method" value="Paypal" inputId="payment-method2" />
                                        <label for="payment-method2" class="ml-1 mt-2 ">
                                            Paypal
                                        </label>
                                    </div>
                                
                                    <div class="field flex align-items-center">
                                        <input type="checkbox" id="termsAndConditions" name="termsAndConditions">
                                        <label for="termsAndConditions" class="mt-2 ml-1"><a class="text-primary">Şartlar ve Koşulları</a> okudum ve kabul ediyorum</label>
                                    </div>
                                </div>
                                

                            </div>

                            <p-button label="Doğrula ve Öde" styleClass=" mt-4" [disabled]="paymentInfoForm.invalid"
                                type="submit"></p-button>
                        </p-card>
                    </form>
                </div>

                <app-booking-summary></app-booking-summary>

            </div>
        </div>
    </div>
</div>