.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.content-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.page-container {
    margin-top: var(--navbar-height);
    flex: 1;
    overflow: auto;
    height: calc(100vh - var(--navbar-height));
    display: flex;
    padding-top: 100px;
    justify-content: center;
}

.content-container {
    display: flex;
    overflow: auto;
    align-items: flex-start;
    gap: 20px;
    flex-direction: row; 
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.input-field {
    width: 100%;
    /* Genişliği %100 yap */
    display: block;
    /* Inputları block yaparak label ile alt alta durmasını sağla */
}

.expireDate {
    display: flex;
    justify-content: space-between; /* Ay ve Yıl arasında boşluk bırakır */
}

.month, .year {
    display: flex;
    flex-direction: column; /* Label'in üstte, input'un altta olmasını sağlar */
    flex: 1;
    margin-right: 10px; /* Ay ve Yıl arasında boşluk bırakır */
}

.year {
    margin-right: 0; /* Son öğede boşluk bırakma */
}


:host ::ng-deep .p-card .p-card-title {
    font-size: 1.1rem;
    font-weight: 600;
}

:host ::ng-deep .field {
    margin-bottom: 0.3rem;
}

:host ::ng-deep .p-card .p-card-body {
    padding: 0.5rem;
}

.field>label {
    font-size: 15px;
    display: block;
    margin-bottom: 0.5rem;
}

:host ::ng-deep .p-inputtext {

    font-size: 0.9rem;
    padding: 0.60rem;
}

:host ::ng-deep .p-card-content {
    padding-bottom: 0px;
}

@media (max-width: 900px){
    .field>label{
        font-size: 13.5px;
    }

    :host ::ng-deep .p-card .p-card-title{
        font-size: 1rem;
    }

    .checkbox{
        font-size: 13.5px;
    }
}

@media (max-width: 840px){
    .page-container{
        flex-direction: column;
    }

    .content-container {
        flex-direction: column; /* Booking Summary'nin altına geçmesini sağlar */
        align-items: center; /* İçeriği ortalar */
    }
}