.card {
    padding: 0rem 0.5rem 0rem 0.5rem;
    border: 0.4px solid rgb(230, 230, 230);
    border-radius: 1rem;
    margin-top: 0.5rem;
    width: 27rem;
}

.card tr:hover {
    background-color: rgb(240, 252, 255);
}

.card .showAll a:hover {
    color: black !important;
    transition: color 0.2s;

}

.card tr .view button {
    border-radius: 50%;
}

.card tr .view button:hover {
    background-color: #0e82fd !important;
    color: white;
    transition: 0.5s;
}

.caption {
    background-color: white !important;
}

.rounded-img {
    border-radius: 10px;
}

.patient-name {
    font-weight: 600;
}

:host ::ng-deep .p-card .p-card-body {
    padding: 0rem;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    background: transparent;
}

@media (max-width: 1700px) {
    .card {
        width: 26rem;
    }

    .view button {
        margin-right: 0.5rem !important;
    }
}

@media (max-width: 1600px) {
    .card {
        width: 23rem;
    }
}

@media (max-width: 1400px){
    .card {
        width: 21rem;
        padding: 0rem 0.2rem 0rem 0.2rem;
    }

    .view button {
        margin-right: 0rem !important;
    }
}

@media (max-width: 1250px) {
    .card {
      width: 55rem;
      padding: 0rem 0.5rem 0.5rem 0.5rem;
      margin-left: 0.5rem;
    }
  }
  
  @media (max-width: 1000px) {
    .card {
      width: 45rem;
    }
  }
  
  @media (max-width: 900px) {
    .card {
      width: 40rem;
    }
  }
  
  @media (max-width: 800px) {
    .card {
      width: 31rem;
    }
  }