* {
    margin: 0;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    height: calc(100vh - 67px);
}

.sidebar-menu li::before {
    content: "";
    position: absolute;
    top: -8px; 
    left: 0;
    right: 0;
    height: 8px; /* Gölgenin yüksekliği */
    box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.4); /* Gölgeyi üst kısımda oluşturur */
}

.sidebar-container {
    display: flex;
    width: 6.5rem;
    position: relative;
}

.sidebar-content{
    background-color: #124BAC;
    color: white;
}

.sidebar-container aside {
    width: 0;
    overflow-y: hidden;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
}

.container .slim-body {
    width: 6.5rem;
    background-color: #124BAC;
    height: 100%;
    transition: all 0.5s;
}

.sidebar-container:hover aside {
    width: 19rem;
}

.sidebar-container:hover .slim-body {
    width: 19rem;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    transition: margin-left 0.5s;
    margin-left: 1.5rem;
}

.sidebar-container:hover + .main-content {
    margin-left: 15rem;
}

.sidebar-menu li {
    display: flex;
    align-items: center;
    padding: 0.6rem 5rem 0.6rem 0.3rem;
}

.avatar-button {
    font-size: 0.1rem;
    padding: 0rem;
}

.avatar-wrapper {
    padding-top: 3rem;
    position: relative;
    display: inline-block;
}

.avatar-icon {
    position: absolute;
    display: flex;
    margin: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(27, 150, 58);
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 0.4rem;
    font-weight: bolder;
    color: white;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.head h4,
.head p {
    margin: 0;
    padding: 0;
}

.head h4 {
    margin-bottom: 0.5rem;
}

.head p {
    font-size: 0.8rem;
}

:host ::ng-deep .p-avatar {
    border: 3px solid white;
}

.sidebar-items .availability {
    background-color: rgba(80, 130, 204, 0.5);
    padding: 0.3rem 0 1.3rem 1.3rem;
}

:host ::ng-deep .p-dropdown {
    width: 16rem;
}

.sidebar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-left: 1rem;
}

.sidebar-items .sidebar-menu li:hover{
    background-color: rgba(80, 130, 204, 0.5);
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

.slimbar-menu {
    list-style-type: none;
    color: white;
}

.slimbar-menu i {
    font-size: 20px;
}

.main-content .cards,
.main-content .app-appointment,
.main-content .app-overview {
    margin-bottom: 1rem;
}

.app-appointment {
    flex-grow: 1;
}

.sidebar-menu li.active {
    background-color: blue;
    color: white;
    border-radius: 10px;
}

.sidebar-menu li.active:hover {
    background-color: blue !important;
}

