<section class="container">
  <div class="overlay" *ngIf="overlayVisible" (click)="closeSidebar()"></div>
  <div class="sidebar-container" [class.sidebar-open]="sidebarOpen">


    <div class="slim-body card">

      <div class="avatar-container">
        <p-avatar image="../../../assets/images/pp_user.jpeg"
          [ngClass]="{'sidebar-avatar': sidebarOpen, 'slimbar-avatar': !sidebarOpen}"
          styleClass="mr-2 w-4rem mt-6 h-auto" shape="circle">
        </p-avatar>
        
        <div *ngIf="sidebarOpen" class="text-container mt-2">
          <h4 class="text-sm font-semibold">Dr Edalin Hendry</h4>
          <p class="text-xs font-light">BDS, MDS - Oral & Maxillofacial Surgery</p>

          <div class="availability card mt-3">
            <p class="mt-3 text-sm font-semibold mb-1">Müsaitlik Durumu <span class="text-sm text-red-500"> *</span></p>
            <p-dropdown [options]="availability" [(ngModel)]="selectedAvailability" optionLabel="name"
              placeholder="Müsaitlik durumu" />
          </div>

        </div>
      </div>


      <div class="card flex mt-4">
        <ul class="slimbar-menu justify-content-center align-items-center">
          
          <li *ngFor="let item of sidebarItems" class="mb-4" [pTooltip]="!sidebarOpen ? item.label : null"
            tooltipEvent="hover" (click)="setActiveItem(item)">
            <i [class]="item.icon" class="pr-3"></i>
            <span *ngIf="sidebarOpen" class="ml-2">{{ item.label }}</span>
          </li>


        </ul>
      </div>
    </div>
  </div>
</section>
