.card{
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    border: 0.4px solid rgb(230, 230, 230);
    border-radius: 1rem;
    margin-top: 0.5rem;
}

.caption{
    background-color: white !important;
}

.rounded-img {
    border-radius: 10px;
  }
  
  
  .text-bold {
    font-weight: bold;
  }

.buttons button{
   background-color: white;
   border-radius: 50%;
   margin: 0;
}

.tag{
    background-color: #14B8A6;
    border-radius: 5px;
    padding: 0.1rem 0.3rem 0.2rem 0.3rem;
    display: inline-block;
}

.card tr:hover{
  background-color: rgb(240, 252, 255);
}

.buttons .button-check{
  color:#14B8A6;
  border: 1px solid #14B8A6;
}

.buttons .button-times{
  color: red;
  border: 1px solid red;
}

.buttons .button-check:hover {
     background-color: #14B8A6 !important;
     color: white;
     transition: 0.5s; 
}

.buttons .button-times:hover {
  background-color:red !important;
  color: white;
  transition: 0.5s; 
}