.card{
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    border: 0.4px solid rgb(230, 230, 230);
    border-radius: 1rem;
    margin-top: 0.5rem;
}

.caption{
    background-color: white !important;
}

.rounded-img {
    border-radius: 10px;
  }
  
  
  .text-bold {
    font-weight: bold;
  }

.buttons button{
   background-color: white;
   border-radius: 50%;
}

.tag{
    background-color: #14B8A6;
    border-radius: 5px;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    display: inline-block;
}

.card tr:hover{
  background-color: rgb(240, 252, 255);
}